.button:hover {
    transition: 0.1s;
    background-color: #8d18ff;
    scale: 1.05;
}
.button {
    color: rgb(227, 227, 227);
    cursor: pointer;
    height: 2rem;
    padding: 0 20px;
    background-color: rgb(133, 0, 255);
    font-family: monospace;
    font-weight: bolder;
    font-size: 1.5rem;
    transition: 0.1s;

}

.button:active {
    transition: 0.1s;
    background-color: #4e009b;
}

.img:hover{
    transition: 0.3s;
    scale: 1.06;
    z-index: 0;
}
.img{
    transition: 0.2s;
}